<a href="https://colab.research.google.com/github/icaroacarvalho/Learning-Python-/blob/main/Learning_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is me learning Python. I followed [this website](https://www.learnpython.org/en/Variables_and_Types) at first, but changed to [this one later](https://www.w3schools.com/python/python_comments.asp).


---

# Comments
*   Use # for commenting out some line of the code.
*    Python does not provide a way to comment out multiple lines, but one can use the following triple quotes:


```
This is a commented out chunk
of text
because Python ignores string literals 
that were not assigned to a variable
```

# Variables and Types
Variables receive name according to the following general rules:


*   start with letter or underscore
*   cannot start with number
*   only alphanumeric characters
*   case-sensitive

Case-sentiviness:
*    Pascal case: myVariableName
*    Camel case: MyVariableName
*    Snake case: my_variable_name

## Types
Every variable in Python is an object $\rightarrow$ Python is object-oriented.
The different types are:
* Numbers: integer(int), floating-point (float) and [complex](https://www.tutorialspoint.com/complex-numbers-in-python)
* Text: strings (can use simple or double quotes (doubles quotes are more useful, in that it allows to use simple quotes within))
* Sequence types: list, tuple, range
* Mapping type: dict (?)
* Set Types:	set, frozenset (?)
* Boolean Type:	bool (e.g, True and False)
* Binary Types:	bytes, bytearray (?), memoryview (?)
* None Type:	NoneType

isinstance $\rightarrow$ this function checks a data type (example below).

In [ ]:
this_is_an_integer = 7
this_is_a_float = 7.0 # or, alternatively, this_is_a_float = float(7)
this_is_a_string = "Hi, I'm a string"
this_is_a_complex = 2.5+1.3j # apparently Python does not use 'i', but rather 'j'
# let us check the output
print(this_is_an_integer)
print(this_is_a_float)
print(this_is_a_string)
print(this_is_a_complex)
print("The real part of the complex number is given by %.1f." %this_is_a_complex.real)
print("The imaginary part of the complex number is given by %.1f." %this_is_a_complex.imag)
print("The conjugate of the complex number is given by ", this_is_a_complex.conjugate())

7
7.0
Hi, I'm a string
(2.5+1.3j)
The real part of the complex number is given by 2.5.
The imaginary part of the complex number is given by 1.3.
The conjugate of the complex number is given by  (2.5-1.3j)

In [ ]:
print(isinstance(3,int))
print(isinstance(3,str))
print(isinstance("3",str))

True
False
True

#### About booleans

About true or false: 'True' results from an arithmetic comparison or if the boolean 'True' is given; or if a non-empty object is given. 

Almost any value is considered True, except:

*   For strings, an empty string, ""
*   For boolean, a False
*   For lists, tuples, sets and dictionaries, Empty cases, [], (), {}...
*   For numbers, the number zero

Also, the case of an object made with the `__len__` function that returns 0 or False (?).
```
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))
```

A function can also be made to return a True value
```
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")
  # this code will return "YES!", because the function always returns True.
```

In [ ]:
# Some examples that give True
print(bool("Hello"))
print(bool(15))
print("")
# Some examples that give False
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True

False
False
False
False
False
False
False

###Random numbers: 
these can be obtained with a module called random

In [ ]:
import random

print(random.randrange(1, 10)) # generates an integer random number between 1 and 10

8

In [ ]:
x = ["apple", "banana", "cherry"] # list
x = ("apple", "banana", "cherry") # tuple
x = {"apple", "banana", "cherry"} # set
x = {"name" : "John", "age" : 36} # dict
x = frozenset({"apple", "banana", "cherry"}) # fronzenset
x = None # NoneType

x = complex(1j)
x = list(("apple", "banana", "cherry")) # list
x = tuple(("apple", "banana", "cherry")) # tuple
x = set(("apple", "banana", "cherry")) # set
x = dict(name="John", age=36) # dict
x = frozenset({"apple", "banana", "cherry"}) # fronzenset
x = None # NoneType

### Conversion of data types:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))
# Note that conversion from complex to another data type is not possible

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Sum of strings? = concatenation
A strange operation is defined by the sum of strings

In [ ]:
first_part = 'This is number 1'
second_part = ' and this is number 2.'
whole = first_part + second_part
print(whole)

This is number 1 and this is number 2.

Multiple assignments can be carried out in one line, e.g.:

In [ ]:
a,b,c = 3,4,5 # assigns 3 to a; and 4 to b
x,y,z = "Orange", "Banana", "Curry"
d = e = f = 7
print(a)
print(b)
print(a,b)
print("")
print(x)
print(y)
print(z)
print(d,e,f)

3
4
3 4

Orange
Banana
Curry
7 7 7

Python allows to extract values into variables from a tuple, i.e.,

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Notice that Python allows to print different variable types at once

In [ ]:
print(a,x)

3 apple

###Casting
Variables dispense with declaration. However, variable can be indeed cast in some data type with the following constructors:

In [ ]:
a = str(5)   # for a string, '5'
b = int(5)   # for an integer, 5
c = float(5) # for a float, 5.0

type() gives the data type of a variable, e.g.:

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
int(6), int('6'), int(6.9), int(6.1) # all return an integer 6 (note that for the float it simply removes decimals)

(6, 6, 6, 6)

In [ ]:
float(6.0), float('6'), float(6)

(6.0, 6.0, 6.0)

#Collection data types (arrays)
*    List -> ordered and changeable; allows duplicate members
*    Tuple -> ordered and unchangeable; allows duplicate members
*    Set -> unordered, unchangeable*, and unindexed. No duplicate members.
*    Dictionary -> ordered (except for Python 3.7 onward) and changeable;  no duplicate members

Accessing:
*   somelist[1], sometuple[1]
*   can use negative index (-1 is the last item, -2 is the second to last, etc.) like somelist[-1], sometuple[-1]
*   can use range of indices, e.g., somelist[1:5], sometuple[1:5] (also ranges like [5:],[:3], [-4:-1] etc.)

##'in' operator
Checks whether an object is within a list/tuple e.g.:

In [39]:
some_list = [1, 2, 3, 99]
if 3 in some_list:
  print("3 is in the list position no. %d!" % some_list.index(3))
if "mia!" in "mamamia!": # can be used in strings
  print("Indeed, 'mia!' is in 'mamamia!'")
if "radio" not in "mamamia!": 
  print("No, 'radio' is not in the expression 'mamamia!'")

print("")
some_tuple = (1, 2, 3, 99)
if 3 in some_tuple:
  print("3 is in the tuple position no. %d!" % some_tuple.index(3))

3 is in the list position no. 2!
Indeed, 'mia!' is in 'mamamia!'
No, 'radio' is not in the expression 'mamamia!'

3 is in the tuple position no. 2!

## Lists

The index of lists starts at 0. 

To append, one can add the expression '.append' to the name of the list with the element within the argument in parentheses.

In [ ]:
my_list=[]
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list[0])
print(my_list[1])
print(my_list[2])

1
2
3

Now let us run a quick loop

In [ ]:
for x in my_list:
  print(x)

1
2
3

In [ ]:
another_list = ["Mango", "Banana", "Avocado"]
for j in another_list:
  print(j)

Mango
Banana
Avocado

In [ ]:
print(another_list[2])

3

Lists can contain different data types
```
list1 = ["abc", 34, True, 40, "male"]
```
and their type can be obtained with the type() function, e.g.:
```
type(list1)
```

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
type(list1)

list

Lists can also be built with the list constructor, i.e.,
```
grocery_list = list(("eggs", "watermelon", ""))
```

*    List -> ordered and changeable; allows duplicate members

One can access items from a list as 
```
some_list[some_index]
```
where 'some_index' may be positive or negative (then it means counting from the end of the list) and it may also be a range (see '__String as an array__' below), e.g.:
```
some_list[1:4]
```
ranges from the second to the third item of the list (recall that the 5th element (index 4) is left out).
Negative indexes may be used as well,
```
some_list[-4:-1] # meaning it starts from the fourth to last item (because the fifth is left out) to the second to last item
```
RECALL: counting in Python starts at 0.
To change an item, just use the corresponding index:
```
some_list[2] = "I'm new" # change the third item
some_list[2:3] = ["One new item", "And another new item"]
```
The list will change size by inserting a number of items different from the number of replacements
```
some_list = ["item 0", "item 1", "item 2", "item 3"]
some_list[1:3] = ["item 4"]
print(some_list) # prints out ['item 0', 'item 4', 'item 3']

some_list = ["item 0", "item 1", "item 2", "item 3"]
some_list[1:4] = ["item 4"]
print(some_list) # prints out ['item 0', 'item 4']

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist) # yields ["apple", "blackcurrant", "watermelon", "cherry"]
# here, the second item "banana" is replaced by two items, "blackcurrant" and "watermelon"
```

some_list.insert() $\rightarrow$ allows the insertion of new items into the list (NOTE: this does modify the original list) at any one position.

some_list.append() $\rightarrow$ allows appending new items to the end of the list (NOTE: this does modify the original list)

some_list.extend(some_iterable) $\rightarrow$ extends some_list with another list or any other iterable (some_iterable), which is appended to the end of some_list
```
some_list = ["orig_0", "orig_1", "orig_2"]
some_list.insert(2,"N") # produces ['orig_0', 'orig_1', 'N', 'orig_2']

some_list = ["orig_0", "orig_1", "orig_2"]
some_list.append("BLABLA") # produces ['orig_0', 'orig_1', 'orig_2', 'BLABLA']

some_list = ["orig_0", "orig_1", "orig_2"]
with_another_list =  ["orig_3", "orig_4", "orig_5"]
some_list.extend(with_another_list)
print(some_list) # results in ["orig_0", "orig_1", "orig_2", "orig_3", "orig_4", "orig_5"]

some_list = ["orig_0", "orig_1", "orig_2"]
some_iterable =  ("orig_3", "orig_4", "orig_5") # a tuple
some_list.extend(some_iterable)
print(some_list) # results in ["orig_0", "orig_1", "orig_2", "orig_3", "orig_4", "orig_5"]again
```

some_list.remove() $\rightarrow$ removes an item, e.g.:
```
some_list = ["orig_0", "orig_1", "orig_2"]
some_list.remove("orig_0")
```
some_list.remove() $\rightarrow$ removes an item based on index, e.g.:
```
some_list = ["orig_0", "orig_1", "orig_2"]
some_list.pop(0) # removes "orig_0"
some_list.pop() # removes last item, "orig_2" here
```
del some_list[some_index] $\rightarrow$ removes some item from some_list

del some_list[some_index] $\rightarrow$ removes the list some_list

some_list.clear() $\rightarrow$ clears/empties the list some_list

In [ ]:
some_list = ["item 0", "item 1", "item 2", "item 3"]
some_list[1:3] = ["item 4"] # recall that the indices go from 1 to 2 (3 is excluded)
print(some_list) # only the second (index 1) and third (index 2) items are replaced

['item 0', 'item 4', 'item 3']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:4]) # gives "banana" until "orange"
print(thislist[:4]) # gives the beginning until "orange"
print(thislist[1:]) # gives "banana" until the end of the list

['banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### List comprehension
Shortest syntax for looping through a list. In order to create a new list from another, for example, we can do:
```
newlist = [expression for item in iterable if condition == True]
```

*    expression: the outcome, which can be changed before adding to the new list (e.g., a string item can be made upper case before joining the new list, etc.). By the way, the outcome may be changed under some condition.
*    iterable: list, tuple, set or a dict.

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
# create newlist from all the elements in 'fruits' than contain the character 'a'
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

samelist = [x for x in fruits] 
newlist = [x for x in fruits if "a" in x] 
newlist2 = [x for x in fruits if "a" not in x] 
newlist3 = [x for x in fruits if x != "kiwi"] 
newlist4 = [x if x != "banana" else "orange" for x in fruits]
upperlist = [x.upper() for x in fruits]

print(samelist)
print(newlist)
print(newlist2)
print(newlist3)
print(newlist4)
print(upperlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'mango']
['cherry', 'kiwi']
['apple', 'banana', 'cherry', 'mango']
['apple', 'orange', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

### Sorting
sort() $\rightarrow$ by default, organise lists with the following syntax: 
```
some_list.sort() # modifies the list for organisation
```
alphabetically (for lists containing strings; case-sensitive, prioritising upper cases) or numerically (for lists containing numbers). 

To reverse the organisation it suffices to use the "reverse = True" argument (different from the reverse() method!)

In [ ]:
shopping_list = ["eggs", "carrots", "juice", "avocado"]
shopping_list.sort()
print(shopping_list)
shopping_list.sort(reverse = True)
print(shopping_list)

['avocado', 'carrots', 'eggs', 'juice']
['juice', 'eggs', 'carrots', 'avocado']

In [ ]:
no_list = [1, 2, 34, -3.141516, 9999, 0, -1, -1.5, -999]
no_list.sort()
print(no_list)
no_list.sort(reverse = True)
print(no_list)

[-999, -3.141516, -1.5, -1, 0, 1, 2, 34, 9999]
[9999, 34, 2, 1, 0, -1, -1.5, -3.141516, -999]

Instead of the default behaviour, one can specify the organising function. 

*    For example, to organise a numeric list according to the proximity between the numbers of the list relative to a specific value, one can do the following:

In [ ]:
def distance(y):
    some_value = 50
    return abs(y-some_value) # get the distance of y to some_value

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = distance)
print(thislist)

[50, 65, 23, 82, 100]

*    built-in functions can also be used as keys, e.g.:

In [ ]:
shopping_list2 = ["Eggs", "Carrots", "Juice", "avocado", "banana"]
shopping_list.sort()
print(shopping_list)

shopping_list2 = ["Eggs", "Carrots", "Juice", "avocado", "banana"]
shopping_list2.sort(key = str.lower) # now the key evaluates the lower case form of the items
print(shopping_list2)

shopping_list2 = ["Eggs", "Carrots", "Juice", "avocado", "banana"]
shopping_list2.sort(key = str.upper) # now the key evaluates the upper case form of the items
print(shopping_list2)

['avocado', 'carrots', 'eggs', 'juice']
['avocado', 'banana', 'Carrots', 'Eggs', 'Juice']
['avocado', 'banana', 'Carrots', 'Eggs', 'Juice']

### Reverse a list
In order to reverse a list regardless of the order, one can use reverse(), e.g.:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### Copying lists
Do not use 
```
list2 = list1
```
because it creates a constraint between list1 and list2, whereby list2 is merely a reference to list1. Changes made to list1 automatically happen to list2.

In order to copy indeed, one can use copy():
```
copy_of_old_list = old_list.copy()
```
or
```
copy_of_old_list = list(old_list)
```

In [ ]:
old_list = ["John", "Haley", "Tom"]
copy_of_old_list = old_list.copy()
print(copy_of_old_list)
copy_of_old_list2 = old_list.copy()
print(copy_of_old_list2)

['John', 'Haley', 'Tom']
['John', 'Haley', 'Tom']

### List methods
```
append()       Adds an element at the end of the list
clear()        Removes all the elements from the list
copy()         Returns a copy of the list
count()        Returns the number of elements with the specified value
extend()       Add the elements of a list (or any iterable), to the end of the current list
index()        Returns the index of the first element with the specified value
insert()       Adds an element at the specified position
pop()          Removes the element at the specified position
remove()       Removes the item with the specified value
reverse()      Reverses the order of the list
sort()         Sorts the list
```

## Tuples
*    Tuples are ordered, unchangeable and allow duplicate values
*    One of the iterable types of Python to store collections of data (tuples, lists, sets, dictionaries)
*    Written with round brackets
*    Elements are accessed like in lists
*    Can include different types, even at once, e.g., str, int, bool:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

*    Defined by the class 'tuple'

### Tuple constructor

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

### Tuple with one item
Add comma as below, otherwise Python won't recognise it as tuple:

In [36]:
one_item_tuple = ("I'm unique",)
print(type(one_item_tuple))
# in this case, without comma, the type would be str

("I'm unique",)

### Updating (__unchangeable__) tuples?
*    Tuples are __unchangeable__ (or __imutable__). One way to circumvent this is by generating a list from the tuple, and then converting it back into a tuple:
```
some_tuple = ("item 1", "item 2", "item 3")
list_from_tuple = list(some_tuple) # generate list
list_from_tuple[2] = "item 4" # change list
some_tuple = tuple(list_from_tuple) # recreate the tuple
print(some_tuple)
```

*    In order to add items:
> *    Use the same previous idea of recreating the tuple via the list/tuple constructor
> *    Add one tuple to another
```
tuple_1 = ("item 1", "item 2")
tuple_2 = ("item 3")
tuple_3 = tuple_1 + tuple_2
```

* In order to delete a tuple entirely:
```
del some_tuple
```

## Lingo
'To pack a tuple' means to assign values to a tuple
'To unpack a tuple' means to associate items of the tuple to variables, e.g.:
```
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green) # received value 'apple'
print(yellow) # received 'banana'
print(red) # received 'cherry'
```
where each variable received one item from the tuple. 

But one can render the association of fewer variables than items of the tuple possible. To do so, one can attached the asterisk to the last variable, so the remaining items of the tuple are attributed to the last variable in the form of a list, e.g.:
```
fruits = ("apple", "banana", "cherry", "grape")

(green, yellow, *red) = fruits

print(green) # received value 'apple'
print(yellow) # received 'banana'
print(red) # receives the list ['cherry', "grape"]
```

# Operators
Operators can be of the following types:
*    Arithmetic (+,-,*,/,%,**,...)
*    Assignment (=,+=,**=,...)
*    Comparison (>, <, ===)
*    Logical (and, or, not)
*    Identity (is, is not)
*    Membership (in, not in)
*    Bitwise (and, or, xor, not, ...)

## Basic math operators

Some are just the usual operators:

*  +, -, /, *
*  ** exponentiation
*  // floor (division, rounding DOWN to the nearest integer)
*  modulo operator (gives the remainder of a division)

In [ ]:
a = 1+3/2-5/2
print(a)
b = 5%2 #gives the remainder of the division of 5 by 2
print(b)
c = 3**2 # gives 3^2 = 9
print(c)
c = 3**3 # gives 3^3 = 27
print(c)

0.0
1
9
27

Multiple lists can be joined with the addition operator:

In [ ]:
even_numbers = [2, 4, 6, 8]
odd_numbers = [1, 3, 5, 7]
all = even_numbers + odd_numbers
print(all) # notice that it follows the order of the sum parcels

[2, 4, 6, 8, 1, 3, 5, 7]

and repeated via multiplication:

In [ ]:
small_list = [0,1]
repeated_list = small_list*7
print(repeated_list)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

## Assignment operators
=

+= e.g. x+=3 is the same as x = x+3

-=

*=

/=

%=

//= e.g., x//=3 is the same as x = x // 3 (floor division)

**=

&=   (bitwise AND)

|=   (bitwise OR)

^=   (bitwise XOR)

~=   (bitwise NOT)

# Strings
Strings are written within simple or double quotes. For simplicity, use double quotes (this allows the usage of simple quotes in between), e.g.:


```
hello = 'Hello World'
hello = "Hello World' # same as above
hello = "Hello 'world'" #only possible with double quotes
```

Multiline strings can written as in the following:
```
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a) # or three simple quotes
```

## Using operators with strings
Concatenation can be 'given' by the addition, e.g.:

In [ ]:
part_1 = 'This is part 1, but it is '
part_2 = 'incomplete without part 2.'
full = part_1 + part_2
print(full)

This is part 1, but it is incomplete without part 2.

The string can also be repeated through multiplication.

In [ ]:
bye = 'ciao '
correct_bye = bye*2
print(correct_bye)

ciao ciao

##String formatting

In [ ]:
name = 'John'
print("Hello, %s!" % name)

Hello, John!

A tuple is defined as a list with a fixed size. It can be used to print as in the following:

In [ ]:
name = "John"
age = "29"
print("%s is %s years old" %(name,age))

John is 29 years old

Other objects can be represented as well, e.g.:

In [ ]:
mylist = [1, 2, 3]
print("My list is given by %s" % mylist)

My list is given by [1, 2, 3]

%s is used for strings

%d for integers

%.[number of digits]f is for floating point with a specified number of decimal digits

format() $\rightarrow$ allows to combine strings and numbers in a way that otherwise would not be possible, e.g.:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
# we can also omit the numbers, but then the inputs of format will appear in the order of the sentence
myorder = "I want to pay {} dollars for {} pieces of item {}."
print(myorder.format(price, quantity, itemno))

I want to pay 49.95 dollars for 3 pieces of item 567.

Illegal characters: we can escape with backslash
*    \' $\rightarrow$ single quote
*    \" $\rightarrow$ double quote
*    \n $\rightarrow$ new line
*    \t $\rightarrow$ tab

In [ ]:
txt = "We are the so-called \"Vikings\" from the north.\nWe shall not rest until we conquer the world. \n\t Hurra!"
print(txt)

We are the so-called "Vikings" from the north.
We shall not rest until we conquer the world.
	 Hurra!

### String methods
The methods below produce new strings, but do not affect the original string, which is preserved.
```
capitalize()     Converts the first character to upper case
casefold()       Converts string into lower case
upper()          Converts a string into upper case
islower()        Returns True if all characters in the string are lower case
isupper()        Returns True if all characters in the string are upper case
center()         Returns a centered string
ljust()          Returns a left justified version of the string
rjust()          Returns a right justified version of the string
rstrip()         Returns a right trim version of the string
lstrip()         Returns a left trim version of the string
strip()          Returns a trimmed version of the string
count()          Returns the number of times a specified value occurs in a string
endswith()       Returns true if the string ends with the specified value
expandtabs()     Sets the tab size of the string
find()           Searches the string for a specified value and returns the position of where it was found
rfind()          Searches the string for a specified value and returns the last position of where it was found
format()         Formats specified values in a string
format_map()     Formats specified values in a string
index()          Searches the string for a specified value and returns the position of where it was found
isalnum()        Returns True if all characters in the string are alphanumeric
isalpha()        Returns True if all characters in the string are in the alphabet
isdecimal()      Returns True if all characters in the string are decimals
isdigit()        Returns True if all characters in the string are digits
isidentifier()   Returns True if the string is an identifier
isnumeric()      Returns True if all characters in the string are numeric
isspace()        Returns True if all characters in the string are whitespaces
join()           Joins the elements of an iterable to the end of the string
lower()          Converts a string into lower case
replace()        Returns a string where a specified value is replaced with a specified value
rindex()         Searches the string for a specified value and returns the last position of where it was found
rpartition()     Returns a tuple where the string is parted into three parts
rsplit()         Splits the string at the specified separator, and returns a list
split()          Splits the string at the specified separator, and returns a list
splitlines()     Splits the string at line breaks and returns a list
startswith()     Returns true if the string starts with the specified value
swapcase()       Swaps cases, lower case becomes upper case and vice versa
title()          Converts the first character of each word to upper case
translate()      Returns a translated string
zfill()          Fills the string with a specified number of 0 values at the beginning
```

###String as an array
To print a slice of the string, one can do the following:

print(some_string[first_position:last_position+1]), e.g.:

In general, it is like print(some_string[start:stop:step]). Note that

print(some_string[start:stop]) is the same as print(some_string[start:stop:1])

In [ ]:
hello = "Hello world!"
print(hello) 
print(hello[3:7])   # prints positions 3 to 6 (excludes 7th position)
print(hello[3:])    # prints everything after (and including) the third position
print(hello[:7])    # prints everything before (and excluding) the seventh position
print(hello[3])     # prints the seventh position
print(hello[3:7:2]) # goes from string 3 to 6 (inclusively), in steps of 2 (recall that the 7th string is excluded)
print(hello[-5:])   # prints the last five characters

Hello world!
lo w
lo world!
Hello w
l
l
orld!

In order to reverse a string, one can use:

In [ ]:
print(hello[::-1])

!dlrow olleH

len - get the length of a string. Counts spaces and punctuation as well (in between, before and after the string). In python, strings are considered to be an array, with each character represented by a string of length 1. We can even loop through strings.

'some_string.index(some_character)' -> To find the first appearance of a character in a string (recall that Python starts counting positions at zero).

'some_string.count(some_character)' -> to count the number of times a given character appears in a string.

hello = ' Hello world '
print(len(hello)) # counts spaces
print(hello[1]) # presents the first element of the string (recall that strings are arrays in Python!)

In [ ]:
print("")
for i in "mamamia!":
  print(i)

In [ ]:
print("")
hello = ' Hello world '
print(hello.index("o")) # gives the first location of the character 'o' in the string (once again, counting spaces and punctuation).

In [ ]:

print("")

print(hello.count("l"))

###Strings modifications

*   upper or lower - render the entire string upper or lower case
*   strip  - removes *whitespaces* (some_string.strip())
*   replace  - replace part of the full string by another (some_string.replace("existing_part","new_part")
*   split - splits the string at all appearances of some specified string (thus creating a list with strings at the splits, some_string.split(some_specified_string))

In [ ]:
a = " Hello, World! "
print(hello.upper())
print(hello.lower())
print(a.strip()) # returns "Hello, World!"
print(a.replace(""))
print(hello.split("o"))

## String check
To check whether a string starts with some specific string or ends with another, one can use the startswith and endswith commands. This results in either 'True' or 'False', e.g.:

In [ ]:
print(hello)
print(hello.startswith("Hello"))
print(hello.endswith("world!")) # note that this command is case-, and punctuation-sensitive
print(hello.endswith("World!")) # note that this command is case-, and punctuation-sensitive

Hello world!
True
True
False

#Conditionals
== equal

\> greater 

< less than

\>= greater or equal

<= less than or equal to

!= not equal

In [ ]:
a = 2.0
print(a == 2)
print(a == 3)
print(a != 3)
print("")
print(a == 2.0)
print(a > 5)
print(a < 5)

True
False
True

True
False
True

In [ ]:
name = "Boris"
age = "19"
if name == "Boris" and age == "19":
  print("Your name is indeed " + name + " and your age really is " + age + ".")

Your name is indeed Boris and your age really is 19.

## Logical operators

*    and
*    or
*    not

In [ ]:
a = 2
b = 5
print(a == 2 and b == 5)
print(a == 2 or b == 5)
print(a < 3 and b > 4)
print(a < 3 or b > 10)
print("")
print(a < 3 and b > 10)
print(not a == 3) # as 'a == 3' returns False, 'not a == 3' returns True
print(not False)

True
True
True
True

False
True
True

#'is' operator
"Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances (objects) themselves.". The opposite is the 'is not' operator. [e.g.](http://net-informations.com/python/iq/is.htm#:~:text='is'%20and%20'%3D%3D'%20operators%20in%20Python,and%20%3D%3D%20comparison%20operators%20behave.):
```
list_1 = ['a', 'b', 'c']
list_2 = list_1
list_3 = list(list_1)
print(list_1)
print(list_2)
print(list_3)
```
then all three lists have the same value, thus:
```
list_1 == list_2 # returns True
list_1 == list_3 # returns True
list_2 == list_3 # returns True
```
but
```
list_1 is list_2 # returns True
list_1 is list_3 # returns False, even though they have the same values
list_2 is list_3 # returns False, even though they have the same values
```

#About indentation
Python's standard indentation is given by 4 spaces. However, any other spacing works as long as it is consistent. Code blocks do not require termination, because the blocks themselves are defined by the indentation.

Example of if-else:
```
statement = False
another_statement = True

if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass
```

# Loops
There are two types of loops. The 'for' and the 'while' loops.

## 'For' loops

In [ ]:
primes = [2, 3, 5, 7]
for i in primes:
  print(i)

4
6
10
14

### Range function
range(start_number,end_number) -> returns indices from start_number to end_number-1. If the start_number is omitted, zero is considered for this input instead.

For example:

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

Can also be used to loop through a list using index numbers, e.g.,

In [ ]:
thislist = ["element0", "element1", "element2"]
for i in range(len(thislist)): # this provides indices to correlate with thislist
  print(thislist[i]) # to print the elements of thislist

print("")
thislist = ["element0", "element1", "element2"]
for i in range(len(thislist)): # this provides indices to correlate with thislist
  print(i) # to print the indices

element0
element1
element2
0
1
2

## While loops
Repeats as long as some boolean condition is fulfilled. E.g.:

In [ ]:
count = 0
while count < 5:
  print(count)
  count += 1 # same as count = count + 1

0
1
2
3
4

### Break and continue statements

*   Break: exit a loop, e.g.:

In [ ]:
for i in range(5):
  if i < 3:
    print("%d is less than 3" % i)
  else:
      print("%d is greater or equal than 3" % i)

0 is less than 3
1 is less than 3
2 is less than 3
3 is greater or equal than 3
4 is greater or equal than 3

*   Continue: skip current block and go back to the 'for' or 'while' statement. 

E.g.: Suppose we only want to print out values below 3 or greater than 7, then:

In [ ]:
for i in range(10):
  if i < 3:
    print("%d is less than 3" % i)
  elif i > 7:
    print("%d is greater than 7" % i)
  else:
      continue

0 is less than 3
1 is less than 3
2 is less than 3
8 is greater than 7
9 is greater than 7

# Functions
*    Global variables: defined inside a function.
*    Local variables: created inside a function

By the way, if a variable is created both outside and inside a function with the same name, it will retain its global value and will not be affected by the local value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome